<!--template voor edit formulier -->
<div class="wrapper">
    <h1 id="edit-exercise-heading">Edit Exercise</h1>
    <form method="post" action="lib/save.php" class="form" id="edit-form">

        <input type="hidden" id="formname" name="formname" value="edit_form">
        <input type="hidden" id="afterinsert" name="afterinsert" value="profile.php">
        <input type="hidden" id="tablename" name="tablename" value="exercises">
        <input type="hidden" id="pkey" name="pkey" value="exe_id">
        <input type="hidden" id="exe_id" name="exe_id" value="@@exe_id@@">

        <div id="one" class="details">
            <!--            <label for="exe_id" class="col-form-label">Id</label>-->
            <!--            <input type="text" class="form-control" id="exe_id" name="exe_id" readonly value="">-->
            <div id="left-column">
                <label for="exe_name" class="col-form-label">Name</label>
                <input type="text" class="form-control" id="exe_name" name="exe_name" value="@@exe_name@@">

                <label for="exe_sets" class="col-form-label">Sets</label>
                <input type="text" class="form-control" id="exe_sets" name="exe_sets" value="@@exe_sets@@">

                <label for="exe_reps" class="col-form-label">Reps / Mins</label>
                <input type="text" class="form-control" id="exe_reps" name="exe_reps" value="@@exe_reps@@">

                <label for="exe_cat" class="col-form-label">Category</label>
                <input type="text" class="form-control" id="exe_cat" name="exe_cat" value="@@exe_cat@@">

                <input type="submit" name="editsavebutton" id="editsavebutton" value="Save Changes">
            </div>

            <div id="right-column">
                <div id="two" class="description">
                    <label for="exe_desc" class="col-form-label">Description</label>
                    <textarea class="form-control" id="exe_desc" name="exe_desc" placeholder="@@exe_desc@@" value="@@exe_desc@@"></textarea>
                </div>
                <div id="three" class="upload">
                    <label>Image </label>
<!--                    <img src="img/@@exe_img@@" id="exe_img">-->
                    <input type="file" name="exe_img2" id="exe_img2" value="New image">
                </div>
            </div>
        </div>
    </form>
</div>

