    <form id="login-form" class="form login-form" action="lib/login.php" method="post">

        <input type="hidden" id="formname" name="formname" value="login_form">

        <h1>Get started!</h1>

        <div class="txtb">
          <input type="email" name="usr_email" id="usr_email"  value="">
          <span data-placeholder="Email"></span>
        </div>

        <div class="txtb">
          <input type="password" name="usr_password" id="usr_password" value="">
          <span data-placeholder="Password"></span>
        </div>

        <input type="submit" name="loginbutton" class="btn btn-info btn-md logbtn" value="Log in">
    <!--                    <input type="submit" name="loginbutton"  class="logbtn" value="Login">-->

        <div class="bottom-text">
          Don't have an account?    <a href="register.php">  Register here</a>
        </div>
    </form>